/*------------------------------------------------------
------------------ Allgemeines--------------------------
------------------------------------------------------*/

@font-face {
    font-family:'Roboto';
    font-style: normal;
    src:
      local('Roboto');          // Erst nachsehen, ob die Schrift
      local('Roboto-Regular'); // beim Besucher schon installiert ist
      url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2'); // Wenn nicht, wird die Schrift vom Webserver geladen

/* Quelle: https://www.mediaevent.de/css/font-face.html */

/*funktioniert irgendwie noch nicht*/
}

header {
    background-color: #55dd22;
    height: 70px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

nav {
    display: block;
    height: 100%;
    max-width: 1170px;
}

nav ul {
    height: 100%;
    display: inline-block;
}

nav li {
    display: inline;
    float: left;
    height: 100%;
}

nav li a{
    border-left: 1px solid;
}

footer {
    position: absolute;
    width: 100%;
}

/*allg vorgaben zur schrift*/
body {
    font-family: Roboto;
    font-size: 14px;
    line-height: 145%;
    font-style: normal;
    margin-top: 0px;
    margin-left: 0px;
}

#inhalt{
    padding-top: 70px;
    padding-left: 20px;
}

.textbox {
    border: 1px solid gray;
    padding: 8px;
    padding-top: 10px;
    margin-top: 50px;
}

.pInTextbox {
    column-width: 320px;
}


#inhalt a {
    color: #b1b1b1;
    text-decoration: underline;
}
/*änderung des aussehens von links beim hovern*/
#inhalt a:hover {
    text-decoration: none;
}

#angleUp {
  text-decoration: none;
}

footer {
  border-top: 5px solid #55dd22 ;
}


/*------------------------------------------------------
------------- Tabellenspezifisches----------------------
------------------------------------------------------*/

/*zwischen den Boxen werden keine Linien angezeigt*/
table {
  border-collapse: collapse;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}
/*jede zweite zeile grau*/
table tr:nth-of-type(even) {
  background-color: #eeeeee;
}

th {
    padding: 10px;
    padding-right: 40px;
}
