/*------------------------------------------------------
------------------ Allgemeines--------------------------
------------------------------------------------------*/

@font-face {
    font-family:'Roboto';
    font-style: normal;
    src:
      local('Roboto');          // Erst nachsehen, ob die Schrift
      local('Roboto-Regular'); // beim Besucher schon installiert ist
      url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2'); // Wenn nicht, wird die Schrift vom Webserver geladen

/* Quelle: https://www.mediaevent.de/css/font-face.html */

/*funktioniert irgendwie noch nicht*/
}

header {
    position: fixed;
    width: 100%;
}

footer {
    position: absolute;
    width: 100%;
}

/*allg vorgaben zur schrift*/
body {
    font-family: Roboto;
    font-size: 14px;
    line-height: 145%;
    font-style: normal;
}

div {
    border: 1px solid gray;
    padding: 8px;
}
div p {
    column-width: 320px;
}


a {
  color: #b1b1b1;
}
/*änderung des aussehens von links beim hovern*/
a:hover {
  text-decoration: none;
}


/*------------------------------------------------------
------------- Tabellenspezifisches----------------------
------------------------------------------------------*/

/*zwischen den Boxen werden keine Linien angezeigt*/
table {
  border-collapse: collapse;
}
/*jede zweite zeile grau*/
table tr:nth-of-type(even) {
  background-color: #eeeeee;
}

th {
    padding: 10px;
    padding-right: 40px;
}
